body {
  background-color: black;
  margin: 0;
  padding: 0;
  cursor: none;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  height: 448px;
  width: 1024px;
}

.UI {
  width: 1024px;
  height: 128px;
  margin: 6px 0;
  background-image: url('../assets/UI.png');
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  padding-top: 40px;
}